# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
.terraform.lock.hcl

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# Variables sensibles
*.tfvars

# OS / Editor
.DS_Store
.vscode/

nano/
